<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="list_2.css">
	</head>
	<body>
		<div class="header">CLOSE
			<div class="upload"></div>
		</div>
		<div class="container">
			<div class="notebox-wrapper">
				<div class="notebox">
					<div class="notebox-header">
						Econ1
						<div class="notebox-header-title">
						<div class="notebox-header-date">2013-01-20</div>	
						</div>
					</div>
				</div>
			</div>


			<div class="bottom-wrapper">
				<div class="small-notebox-wrapper">
					<div class="small-notebox"></div>
				</div>
				<div class="small-notebox-wrapper">
					<div class="small-notebox"></div>
				</div>
			</div>
		</div>
	</body>
</html>