body {
	background-color: #aebaab;
	margin: 0;
	padding: 0;
}
.header {
	font-family: Arial;
	font-size: 36px;
	color: #5b4d50;
	text-align: left;
}
.upload {
	color: #5b4d50;
	float: right;
}
.container {
	background-color: #aebaab;
	width: 100%;
}
.notebox-wrapper {
	float: middle;
	background-color: #f5f8ce;
}
.notebox {
	border-bottom:5px solid #5b4d50;
	height: 415px;	
}
.notebox-header{
	color: #5b4d50;
	font-family: Arial;
	font-size: 32px;
	height: 80px;
	background-color: #dadeba;
}
.notebox-header-date {
	color: #5b4d50;
	font-family: Arial;
	font-size: 28px;
}
.small-notebox-wrapper {
	float:left;
	box-sizing:border-box;
	padding:10px;
	width: 50%;
	/*height: 103.75px*/
}
.small-notebox {
	height: 207.5px;
		background-color: #f5f8ce;
}

.bottom-wrapper {
	width:100%;
}