<!doctype html>
	<html>
	<head>
		<link rel="stylesheet" href="list_1.css">
	</head>
			<body>
				<div class="header">
					<div class="plus"></div>
					<div class="tool"></div>
				</div>
				<div class="search">Search</div>
				<div class="container">
					<div class="notebox-wrapper">
						<div class="notebox"></div>
					</div>
					<div class="notebox-wrapper">
						<div class="notebox"></div>
					</div>
					<div class="notebox-wrapper">
						<div class="notebox"></div>
					</div>
					<div class="notebox-wrapper">
						<div class="notebox"></div>
					</div>
				</div>

			</body>
	</html>